@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Poppins font styles */
@import url('~@fontsource/poppins/300.css');
@import url('~@fontsource/poppins/400.css');
@import url('~@fontsource/poppins/500.css');
@import url('~@fontsource/poppins/600.css');
@import url('~@fontsource/poppins/700.css');

/* Apply the font-family to your HTML elements */
html,
body {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 36px;
  font-weight: bold;
}


.other{
  background: rgb(49,221,221);
  background: linear-gradient(80deg, rgba(49,221,221,1) 0%, rgba(131,197,67,1) 100%);
}

.inner-shadow {
  -webkit-box-shadow: inset 0px 10px 231px 93px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 10px 231px 93px rgba(0,0,0,0.75);
  box-shadow: inset 0px 10px 231px 93px rgba(0,0,0,0.75);
}

.inner-shadow-home{
  -webkit-box-shadow: inset 0px 40px 231px 93px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 40px 231px 93px rgba(0,0,0,0.75);
  box-shadow: inset 0px 40px 231px 93px rgba(0,0,0,0.75);
}